#players {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: .5rem;
    align-items: center;
    margin-bottom: 3rem;
}

#players article {
    height: 250px;
    margin: .5rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#players h4 {
    color: navy;
    font-size: smaller;
}


#players img {
    width: 125px;
    height: auto;
    box-shadow: 0 0 30px #777;
    margin: .5rem;
}